.excellence {
    display: flex;
    position: relative;
    padding: 10vh;
    height: 100vh;
    align-items: center;
}

.excellence-inner-wrapper {
    background-image: url('../img/frontend/about/about-bg-one.png');
    display: flex;
    justify-content: end;
}

.excellence-right {
    margin: 60px;
}

.excellence-right h2 {
    margin-bottom: 30px;
}

.main-heading {
    margin-bottom: 30px;
}

.main-text-box {
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.about-half-box {
    width: 60%; 
    background: #fff;
    height: 250px;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 52px;
    text-align: center;
    position: relative;
}

.about-left-half-box {
    margin-left: auto;
    margin-right: 45px;
}

.about-right-half-box {
    margin-right: auto;
    margin-left: 45px;
}


.about-full-height-area {
    padding: 10vh;
    justify-content: center;
    position: relative;
}

svg#mission,  span.box-top-logo{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -35px;
    display: block;
    left: 55px;
}

svg#Vission {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -15px;
    display: block;
    left: 50px;
}

.grey-text {
    color: #9F9F9F;
}
/*timeline bar*/

#progressbar {
	position: fixed;
	width: 8px;
	z-index: 99;
	
	top: 0;
	left: 0;
	bottom: calc( 100% );
	
	background-color: #F50057;
	
	transition: bottom .5s linear 0s;
}

.line-height-30 {
    line-height: 30px;
}

/*milestone styles*/
.milestone-row {
    display: flex;
    justify-content: center;
}



.milestone-line {
    display: flex;
    width: 4px;
    background-color: #eee;
    height: 100%;
}

.milestone-line-animated {
    display: flex;
    width: 4px;
    background-color: #F1592A;
    height: 0%;
    position: absolute;
    top: 0;
}


.milestone-line-animated.firstanimation {
    animation: filldownfirst 5s linear;
    animation-fill-mode: forwards;
}

/* .milestone-line-animated.two.firstanimation {
    animation-delay: 5s;
}

.milestone-line-animated.three.firstanimation {
    animation-delay: 10s;
} */



@keyframes filldownfirst {
    0% {
        height: 0%;
    }
    25% {
        height: 25%;
    }
    50% {
        height: 50%;
    }
    75% {
        height: 75%;
    }
    100% {
        height: 100%;
    }
}

@keyframes filldownsecond {
    0% {
        height: 100%;
    }
    25% {
        height: 75%;
    }
    50% {
        height: 50%;
    }
    75% {
        height: 25%;
    }
    100% {
        height: 0%;
    }
}

.milestone-img {
    width: 100%;
}

.milestone-left-wrapper, .milestone-right-wrapper {
    width: 40%;
    display: flex;
}

.milestone-line-wrapper {
    width: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.milestone-text-wrapper-left {
    text-align: right;
}

.milestone-text-wrapper-right {
    text-align: left;
}

.yr-row {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    flex-direction: column;
    align-items: center;
    font-family: 'TT-Interfaces-Light';
}

i.fas.fa-circle.milestone-circle {
    font-size: 12px;
    color: #F1592A;
    position: relative;
    top: 1px;
}

.top-symbol-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

span.vertical-line {
    width: 5px;
    height: 20px;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

span.vertical-line-animated {
    width: 5px;
    height: 100%;
    background: #F1592A;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}



.vertical-line-wrapper {
    position: relative;
    top: -2px;
}

.sub-center-heading {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.about-blue-font {
    color: #00217B;
}



/*deep looping animation*/
.circle-wrapper {
    position: relative;
    width: 10px;  
    height: 10px;
    background: #F1592A;
    border-radius: 50%;
}

.grey-circle {
    width: 10px;  
    height: 10px;
    background: #A8A8A8;
    border-radius: 50%;
}

.grey-circle-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.circle{
    position: absolute;
    top: 50%;   left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;  
    height: 50px;
}
.circle::before,.circle::after{
    content: '';
    position: absolute;
    top: 50%;  left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;   height: 100%;
    border: 5px solid #F1592A;
    box-shadow: 0 0 10px 5px #F1592A;
    border-radius: 50%;
    animation: animate 2s infinite linear;
}
.circle::before{
    animation-delay: 0s;
}
.circle::after{
    animation-delay: 1s;
}

@keyframes animate{
    0%{
        width: 0;   height: 0;
        opacity: 1;
    }
    100%{
        width: 100%;   height: 100%;
        opacity: 0;
    }
}

.vision-text-wrapper {
    margin-top: 45px;
}

.image {
    background: white;
    box-shadow: 3px 10px 10px rgb(0 0 0 / 25%);
    overflow: hidden;
}

.image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}