.news-inner-box {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 11px;
    padding: 30px;
}

img.news-box-img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.news-box h3 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.news-subheading {
    font-size: 1.5rem;
}

.mb-45 {
    margin-bottom: 45px;
}

.main-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news-title {
    margin: 15px 0;
}

section#latest-news {
    margin-bottom: 60px;
}

h1.main-title, section#latest-news h2 {
    color: #707070;
}

.image {
    background: white;
    box-shadow: 3px 10px 10px rgb(0 0 0 / 25%);
    overflow: hidden;
}

.image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.main-text-box {
    margin-top: 60px;
}

/*mobile-view*/
@media screen and (max-width: 767px) {
    .news-inner-box {
        padding: 15px;
    }

    .main-text-box, .news-box {
        transform: unset !important;
        margin-top: 15px;
    }
} 

/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
    .main-text-box, .news-box, .main-text-box {
        transform: unset !important;
    }
    .row.news-box-row {
        margin-left: 45px;
        margin-right: 45px;
    }

    h1.main-title {
        margin-top: 60px !important; 
    }
}



