.portfolio-main {
    height: 100vh;
}

#navigation {
    background-color: #fff;
    z-index: 1000;
}

.portfolio-main-left-content {
    display: flex;
    flex-direction: column;
}

.portfolio-main-heading {
    height: 30vh;
    display: flex;
    align-items: flex-end;
    font-size: 4rem;
    font-family: 'TT-Interfaces-Light';
    margin-left: 5vw;
}

.portfolio-main-txt-wrapper {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10vh;
    align-items: center;
}

.portfolio-scroll {
    margin-left: 3%;
}

.portfolio-full {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.home-other-sections {
    display: flex;
    position: relative;
    padding: 10vh;
    height: 100vh;
    align-items: center;
}

/*portfolio main section*/
section.portfolio-main {
    display: flex;
    width: 99%;
    flex-direction: row;
    padding: 5vh 0;
}


.portfolio-leftside-wrapper {
    width: 60%;
    padding-left: 10vh;
    padding-top: 10vh;
}

.portfolio-content-box {
    padding-top: 20vh;
    display: flex;
    justify-content: start;
    margin-left: 20vh;
}

.portfolio-rightside-wrapper {
   display: flex;
   justify-content: end;
   width: 40%;
   z-index: 100;
}

.circle-image-wrapper img {
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    object-fit: cover;
    background-color: orange;
}

.myslider-wrapper {
    display: flex;
    flex-direction: column;
    border: 3px solid rgba(178, 190, 181, 0.2);
    border-bottom-left-radius: 90vh;
    border-top-left-radius: 90vh;
    width: 45vh;
    height: 90vh;
    position: relative;
    justify-content: center;
    gap: 150px;
    border-right: 0;
}

.active-wrapper {
    display: flex;
    width: max-content;
    position: relative;
    right: 15vh;
}

.dot-btn {
    background: #7c7777;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    display: block;
    overflow: hidden;
    object-fit: cover;
    padding: 0;
}


.far-dot-btn {
    background: green;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
}

.dot-btn:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.dot-btn:active {
    cursor: pointer;
    transform: scale(1);
}



@keyframes fadeUp {
	from {
		opacity: 0;
		transform: translate3d(0%, 0%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


@keyframes fadeDown {
	from {
		opacity: 0;
		transform: translate3d(0%, 0%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes moveout {
    0% {
        opacity: 1;
		transform: translate3d(8vh, -6vh, 0);
    }
    /* 12.5% {
        opacity: 1;
		transform: translate3d(30vh, -16vh, 0);
        background-color:aqua;
    }
    25% {
        opacity: 1;
		transform: translate3d(25vh, -15vh, 0);
        background-color: blue;
    } 
    

    37.5% {
        opacity: 1;
		transform: translate3d(20vh, -14vh, 0);
        background-color: pink;
    }
*/
    /* 50% {
        opacity: 1;
		transform: translate3d(12vh, -6vh, 0);
        background-color: greenyellow;
    } */
/*
    62.5% {
        opacity: 1;
		transform: translate3d(12vh, -10vh, 0);
        background-color: yellow;
    }

    75% {
        opacity: 1;
		transform: translate3d(8vh, -8vh, 0);
        background-color: red;
    } 

    87.5% {
        opacity: 1;
		transform: translate3d(5vh, -5vh, 0);
        background-color: purple;
    }  */

    100% {
        opacity: 1;
		transform: translate3d(0, 0, 0);
    }
}


@keyframes movein {
    0% {
        opacity: 1;
		transform: translate3d(18vh, 8.5vh, 0);
    }

    /* 12.5% {
        opacity: 1;
		transform: translate3d(30vh, 16vh, 0);
        background-color:aqua;
    } 

    25% {
        opacity: 1;
		transform: translate3d(25vh, 15vh, 0);
        background-color: blue;
    } 

    37.5% {
        opacity: 1;
		transform: translate3d(20vh, 14vh, 0);
        background-color: pink;
        
    }
*/
    50% {
        opacity: 1;
		transform: translate3d(9vh, 5.5vh, 0);
        background-color: greenyellow;
    }
/*
    62.5% {
        opacity: 1;
		transform: translate3d(12vh, 10vh, 0);
        background-color: yellow;
    }

    75% {
        opacity: 1;
		transform: translate3d(8vh, 8vh, 0);
        background-color: red;
    } 
    
    87.5% {
        opacity: 1;
		transform: translate3d(5vh, 5vh, 0);
        background-color: purple;
    } */
   
    100% {
        opacity: 1;
		transform: translate3d(0, 0, 0);
    }
}

/*throw prev btn*/
@keyframes prevThrow {

    0% {
        opacity: 1;
		transform: translate3d(0, 0, 0);
    }

    /* 12.5% {
        opacity: 1;
		transform: translate3d(5vh, 5vh, 0);
        background-color: purple;
    } 

    25% {
        opacity: 1;
		transform: translate3d(8vh, 8vh, 0);
        background-color: red;
    } 

    37.5% {
        opacity: 1;
		transform: translate3d(12vh, 10vh, 0);
        background-color: yellow;
    }
*/
    50% {
        opacity: 0.5;
		transform: translate3d(10vh, 7vh, 0);
    }
    /*
    62.5% {
        opacity: 0.5;
		transform: translate3d(20vh, 14vh, 0);
        background-color: pink;
    }

    75% {
        opacity: 0.25;
		transform: translate3d(25vh, 15vh, 0);
        background-color: blue;
    } 

    87.5% {
        opacity: 0.25;
		transform: translate3d(30vh, 16vh, 0);
        background-color:aqua;
    } */

    100% {
        opacity: 0;
		transform: translate3d(20vh, 9vh, 0);
    }

}


/*throw next btn*/
@keyframes nextThrow {

    0% {
        opacity: 1;
		transform: translate3d(0, 0, 0);
    }

    /* 12.5% {
        opacity: 1;
		transform: translate3d(5vh, -5vh, 0);
        background-color: purple;
    } 

    25% {
        opacity: 1;
		transform: translate3d(8vh, -8vh, 0);
        background-color: red;
    } 

    37.5% {
        opacity: 1;
		transform: translate3d(12vh, -10vh, 0);
        background-color: yellow;
    }

    50% {
        opacity: 0.5;
		transform: translate3d(16vh, -12vh, 0);
        background-color: greenyellow;
    }

    62.5% {
        opacity: 0.5;
		transform: translate3d(20vh, -14vh, 0);
        background-color: pink;
    }

    75% {
        opacity: 0.25;
		transform: translate3d(25vh, -15vh, 0);
        background-color: blue;
    } 

    87.5% {
        opacity: 0.25;
		transform: translate3d(30vh, -16vh, 0);
        background-color:aqua;
    } */

    100% {
        opacity: 0;
		transform: translate3d(15vh, -7vh, 0);
    }

}

/*In prev btn*/
@keyframes prevIn {

    0% {
        opacity: 0;
        transform: translate3d(-8vh, -8vh, 0);
    }

    /* 12.5% {
        opacity: 0.5;
        transform: translate3d(-240%, -400%, 0);
        background-color:aqua;
    }

    25% {
        opacity: 0.5;
        transform: translate3d(-200%, -300%, 0);
        background-color: blue;
    }

    37.5% {
        opacity: 0.5;
        transform: translate3d(-160%, -200%, 0);
        background-color: pink;
    }
*/
    50% {
        opacity: 0.5;
		transform: translate3d(-4vh, -3vh, 0);
    }
/*
    62.5% {
        opacity: 0.5;
		transform: translate3d(-150%, -220%, 0);
        background-color: yellow;
    }


    75% {
        opacity: 0.75;
		transform: translate3d(-120%, -200%, 0);
        background-color: red;
    }

    87.5% {
        opacity: 0.75;
		transform: translate3d(-50%, -170%, 0);
        background-color: purple;
    } */

    100% {
        opacity: 1;
		transform: translate3d(0, 0, 0);
    }

}

/*In next btn*/
@keyframes nextIn {

    0% {
        opacity: 0;
        transform: translate3d(-8vh, 8vh, 0);
    }

    /* 12.5% {
        opacity: 0.5;
        transform: translate3d(-240%, -400%, 0);
        background-color:aqua;
    }

    25% {
        opacity: 0.5;
        transform: translate3d(-200%, -300%, 0);
        background-color: blue;
    }

    37.5% {
        opacity: 0.5;
        transform: translate3d(-160%, -200%, 0);
        background-color: pink;
    }
*/
    50% {
        opacity: 0.5;
		transform: translate3d(-2vh, 2vh, 0);
    }
/*
    62.5% {
        opacity: 0.5;
		transform: translate3d(-150%, -220%, 0);
        background-color: yellow;
    }


    75% {
        opacity: 0.75;
		transform: translate3d(-120%, -200%, 0);
        background-color: red;
    }

    87.5% {
        opacity: 0.75;
		transform: translate3d(-50%, -170%, 0);
        background-color: purple;
    } */

    100% {
        opacity: 1;
		transform: translate3d(0, 0, 0);
    }

}


.next-wrapper {
    position: absolute;
    left: 13vh;
    width: max-content;
    /* top: 5vh; */
    top: 6vh;
}

.prev-warapper {
    position: absolute;
    /* left: 13vh; */
    left: 12vh;
    width: max-content;
    /* bottom: 6vh; */
    bottom: 7vh;
}

/* .next-to-next-wrapper {
    position: absolute;
    left: 20vh;
    width: max-content;
    top: 5vh;
} */

.next-to-next-wrapper {
    position: absolute;
    left: 43vh;
    width: max-content;
    top: -10px;
}

.prev-to-prev-wrapper {
    position: absolute;
    left: 20vh;
    width: max-content;
    bottom: 5vh;
}

/*next clone*/
.next-clone {
    background: #eee;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    position: absolute;
    right: 0px;
    display: block;
    top: 0;
    z-index: -1;
}


/*next clone*/
.prev-clone {
    background: #eee;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    position: absolute;
    right: 0px;
    display: block;
    top: 0;
    top: 12px;
    z-index: -1;
}



@keyframes ghostAnimate {
    from {
        z-index: 1;
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(-1000%, 0, 0);
        display: none;
    }
}


/*particle js styles*/

canvas{
    display:block;
    pointer-events: none;
    position: absolute;
    top: 0%;
    height: auto;
    z-index: 1;
  }
  
  
  /* ---- stats.js ---- */
  
  .count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .js-count-particles{
    font-size: 1.1em;
  }
  
  #stats,
  .count-particles{
    margin-top: 5px;
    margin-left: 5px;
  }
  
  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  
  .count-particles{
    border-radius: 0 0 3px 3px;
  }
  
  
  /* ---- particles.js container ---- */
  
  #particles-js{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  


button.portfolio-btn {
    background: transparent;
    border: 1px solid #000;
    padding: 10px 20px;
    color: #000;
    margin-right: 15px;
    width: 100px;
}

button.portfolio-btn:hover {
    color: #fff;
    background-color: #000;
}

.portfolio-sub-title {
    font-size: 3rem;
}

.btn-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-title-mobile-only  {
    display: none;
}

/*mobile-view*/
@media screen and (max-width: 767px) {
    .portfolio-rightside-wrapper, .portfolio-leftside-wrapper {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0;
    }
    
    .portfolio-rightside-wrapper {
        justify-content: center;
    }

    section.portfolio-main {
        flex-direction: column-reverse;
    }

    #particles-js, .portfolio-main {
        height: 100%;
    }

    .portfolio-content-box {
        padding-top: 0;
        margin-left: 0;
        text-align: center;
        justify-content: center;
        margin-bottom: 45px;
    }

    .next-wrapper, .prev-warapper {
        display: none;
    }

    .myslider-wrapper {
        border: 0;
        height: 100%;
       
        padding-bottom: 15px;
    }

    canvas.particles-js-canvas-el {
        display: none;
    }

    .portfolio-sub-title {
        font-size: 2rem;
    }

    p.orange-txt {
        margin-bottom: 0;
    }

    h1.main-title {
        display: none;
    }

    .main-title-mobile-only {
        display: block;
        padding-top: 10vh;
        padding-left: 15px;
    }

    .circle-image-wrapper img {
        width: 50vw;
        height: 50vw;
    }

    .active-wrapper {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: unset;
    }
   
}



/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
    .portfolio-rightside-wrapper, .portfolio-leftside-wrapper {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0;
    }

    section.portfolio-main {
        flex-direction: column-reverse;
    }

    #particles-js, .portfolio-main {
        height: 100%;
    }

    .portfolio-content-box {
        padding-top: 0;
        margin-left: 0;
        text-align: center;
        justify-content: center;
        margin-bottom: 45px;
    }

    .next-wrapper, .prev-warapper {
        display: none;
    }

    .myslider-wrapper {
        border: 0;
        height: 100%;
       
        padding-bottom: 15px;
    }

    canvas.particles-js-canvas-el {
        display: none;
    }

    .portfolio-sub-title {
        font-size: 2rem;
    }

    p.orange-txt {
        margin-bottom: 0;
    }

    h1.main-title {
        display: none;
    }

    .main-title-mobile-only {
        display: block;
        padding-top: 10vh;
        padding-left: 15px;
    }

    .circle-image-wrapper img {
        width: 50vw;
        height: 50vw;
    }

    .active-wrapper {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: unset;
    }
   
    .myslider-wrapper {
        width: 100%;
    }

    .sidenav {
        display: none;
    }

}

/*small laptop*/
@media screen and (min-width: 992px) and (max-width:1100px) {
    .portfolio-content-box {
        margin-left: 0;
    }
    
    h2#portTitleOne {
        font-size: 2rem;
    }

    .next-wrapper {
        top: 8vh;
    }

    .prev-warapper {
        bottom: 9vh;
    }

    @keyframes movein {
        0% {
            transform: translate3d(18vh, 10vh, 0px);
        }
        50% {
            transform: translate3d(9vh, 6vh, 0px);
        }
        
    }

    @keyframes nextThrow {
        100% {
            opacity: 0;
            transform: translate3d(15vh, -9.5vh, 0px);
        }
    }
}

/*large screen*/
@media screen and (min-width: 1400px) {
    .next-wrapper {
        top: 8vh;
    }
    .prev-warapper {
        bottom: 9vh;
    }
    @keyframes movein {
        0% {
            transform: translate3d(18vh, 10vh, 0px);
        }
        50% {
            transform: translate3d(9vh, 6vh, 0px);
        }
        
    }

    @keyframes nextThrow {
        100% {
            opacity: 0;
            transform: translate3d(15vh, -9.5vh, 0px);
        }
    }


}
   
